<header class="header flex align-items-center justify-content-between px-4 py-2 bg-primary text-white">
  <!-- Logo Section -->
  <div class="logo flex-none md:w-12rem">
    <div class="text-xl font-bold">My WebGIS</div>
  </div>

  <!-- Center Menu Buttons -->
  <div class="menu-buttons flex-auto flex justify-content-center gap-2">
    <button *ngFor="let btn of menuButtons" pButton [label]="btn.label" (click)="openPanel(btn.path)"
      class="p-button-sm" [ngClass]="{ 'active-route': isActive(btn.path) }">
    </button>
  </div>

  <!-- Right Side Search and Profile -->
  <!-- Right Side Search and Profile -->
<div class="search-profile flex-none md:w-12rem flex flex-col justify-end items-end gap-1">
  <div class="flex justify-end items-center gap-2">
    <input pInputText type="text" placeholder="Search..." class="p-inputtext-sm w-10rem hidden md:inline-flex" />
    <button pButton icon="pi pi-user" style="color: white;" (click)="openUserPanel()"></button>
  </div>
<p class="text-xs text-white truncate text-right w-full">{{ applicationSettingService.projectName }}</p>
</div>


  <p-drawer header="Profile" [(visible)]="isUserPanelVisible" position="right" [modal]="true">
    <app-profile></app-profile>
  </p-drawer>
</header>