<p-tabs [(value)]="value" (valueChange)="onTabChange($event)">
  <p-tablist>
    <p-tab *ngFor="let tab of tabs" [value]="tab.value">
      {{ tab.label }}
    </p-tab>
  </p-tablist>

  <p-tabpanels>
    <p-tabpanel *ngFor="let tab of tabs" [value]="tab.value">
      <!-- <p>{{ tab.label }}</p> -->
      <ng-container *ngIf="value === 1">
        <form [formGroup]="datastoreForm" (ngSubmit)="onDatastoreSubmit()" class="p-fluid">
          <div class="grid">
            <div class="col-12">
              <div class="field">
                <label for="datastorename">Department Name</label>
                <input pInputText id="department" class="w-full" formControlName="datastorename" />
              </div>
            </div>
            <div class="col-12">
              <div class="field">
                <label for="host">Database Host</label>
                <input pInputText id="host" class="w-full" formControlName="dbHost" />
              </div>

            </div>
            <div class="col-12">

              <div class="field">
                <label for="port">Port</label>
                <input pInputText id="port" class="w-full" formControlName="dbPort" />
              </div>

            </div>
            <div class="col-12">
              <div class="field">
                <label for="dbname">Database Name</label>
                <input pInputText id="dbname" class="w-full" formControlName="dbName" [disabled]="true" />
              </div>
            </div>

            <div class="col-12">
              <div class="field">
                <label for="username">Username</label>
                <input pInputText id="username" class="w-full" formControlName="dbUser" />
              </div>
            </div>
            <div class="col-12">
              <div class="field">
                <label for="password">Password</label>
                <input pPassword id="password" class="w-full" type="password" formControlName="dbPassword" toggleMask />
              </div>
            </div>
            <div class="col-12">
              <div class="field mt-2" style="display: flex; gap: 0.5rem;">
                <button pButton type="submit" label="Submit" class="p-button-success w-full" style="flex: 1;"></button>

                <button pButton type="button" label="Clear" (click)="clearForm()" class="p-button-secondary w-full"
                  style="flex: 1;"></button>
              </div>
            </div>

          </div>
        </form>
      </ng-container>

      <ng-container *ngIf="value === 2">
        <div class="grid mx-0">
          <div class="col-12">
            <div class="field">
              <label for="project_select">Select Department</label>
              <p-select [options]="ProjectNameList" optionLabel="label" optionValue="value"
                [(ngModel)]="selectedDataStore" (onChange)="onProjectSelectChange()"
                placeholder="Select Department Name" class="w-full md:w-56 surface-border" />
            </div>
          </div>
          <div class="col-12">
            <div class="field">
              <label for="project_select">Layer Name</label>
              <input pInputText id="layername" class="w-full" [(ngModel)]="layername" name="layername" />
            </div>
          </div>
        </div>
        <div class="p-fluid">
          <div class="field mb-3">
            <label for="fileUpload">Upload Layer File</label>
            <p-fileUpload name="layerFile" accept=".zip,.shp,.geojson" mode="basic" [auto]="false"
              (onSelect)="onFileSelect($event)" [customUpload]="true" (uploadHandler)="onCustomUpload($event)"
              [showUploadButton]="false" [showCancelButton]="false" chooseLabel="Choose File" [maxFileSize]="5000000">
            </p-fileUpload>
          </div>
          <div class="field mt-2" style="display: flex; gap: 0.5rem;">
            <button pButton type="button" label="Save" (click)="onSaveFileUpload()" class="p-button-success w-full"
              style="flex: 1;"></button>

            <button pButton type="button" label="Clear" (click)="clearForm()" class="p-button-secondary w-full"
              style="flex: 1;"></button>
          </div>

        </div>
      </ng-container>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>