<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">DEM</p-tab>
      <p-tab value="1">Satellite</p-tab>
    </p-tablist>
    <p-tabpanels>
      <!-- DEM TAB -->
      <p-tabpanel value="0">
        <div class="card">
          <p-tabs value="0">
            <p-tablist>
              <p-tab value="0">Download</p-tab>
              <p-tab value="1">Upload</p-tab>
              <p-tab value="2">Slope</p-tab>
              <p-tab value="3">Aspect</p-tab>
              <p-tab value="4">Hillshade</p-tab>
              <p-tab value="5">Roughness</p-tab>
              <p-tab value="6">TPI</p-tab>
              <p-tab value="7">Countour</p-tab>
              <p-tab value="8">Elevation Profile</p-tab>
              <p-tab value="9">Elevation At Point</p-tab>
            </p-tablist>
            <p-tabpanels>
              <p-tabpanel value="0">
                <div class="grid">

                  <!-- Draw Area Button -->
                  <div class="col-12">
                    <button pButton label="Draw Area" class="p-button-warning w-full" (click)="startDraw()"></button>
                  </div>

                  <div class="col-12">
                    <div class="field">
                      <label for="_Extent">Extent</label>
                      <input pInputText id="Extent" type="text"
                        placeholder="33.88968193520822,77.99334738638072,34.174201765452835,78.57836935903697"
                        [(ngModel)]="_extent" (change)="drawRectangleFromDirectExtent()" class="w-full">
                    </div>
                  </div>


                  <!-- Extent Inputs -->
                  <!-- West -->
                  <div class="col-3">
                    <div class="field">
                      <label for="west">West</label>
                      <input pInputText id="west" type="number" [(ngModel)]="extent.west"
                        (change)="drawRectangleFromExtent()" class="w-full">
                    </div>
                  </div>

                  <!-- East -->
                  <div class="col-3">
                    <div class="field">
                      <label for="east">East</label>
                      <input pInputText id="east" type="number" [(ngModel)]="extent.east"
                        (change)="drawRectangleFromExtent()" class="w-full">
                    </div>
                  </div>

                  <!-- South -->
                  <div class="col-3">
                    <div class="field">
                      <label for="south">South</label>
                      <input pInputText id="south" type="number" [(ngModel)]="extent.south"
                        (change)="drawRectangleFromExtent()" class="w-full">
                    </div>
                  </div>

                  <!-- North -->
                  <div class="col-3">
                    <div class="field">
                      <label for="north">North</label>
                      <input pInputText id="north" type="number" [(ngModel)]="extent.north"
                        (change)="drawRectangleFromExtent()" class="w-full">
                    </div>
                  </div>


                  <!-- Select Analysis Type -->
                  <div class="col-12">
                    <div class="field">
                      <label for="analysisType">Select Analysis Type</label>
                      <p-select [options]="demTypes" [(ngModel)]="selectedDemType" optionLabel="label"
                        optionValue="value" class="w-full">
                      </p-select>
                    </div>
                  </div>

                  <!-- Download Button -->
                  <div class="col-12">
                    <button pButton label="Download DEM Tile" class="p-button-info w-full"
                      (click)="downloadOpenTopographyDem()"></button>
                  </div>

                </div>

              </p-tabpanel>
              <p-tabpanel value="1">
                <div class="grid">

                  <div class="col-12">
                    <div class="field">
                      <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                        (onSelect)="onDemFileUpload($event)" chooseLabel="Choose DEM"></p-fileUpload>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="field">
                      <label for="colorRamp">Select Color Ramp</label>
                      <p-select [options]="colorRamps" [(ngModel)]="selectedColorRamp" placeholder="Select Color Ramp"
                        class="w-full">
                      </p-select>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="field">
                      <button pButton label="Apply Color Ramp" class="p-button-info w-full"
                        (click)="reRenderDEM()"></button>
                    </div>
                  </div>

                </div>
              </p-tabpanel>
              <p-tabpanel value="2">
                <form [formGroup]="slopeForm" (ngSubmit)="onSlopeSubmit()" class="w-full">
                  <div class="grid w-full">
                    <div class="col-12">
                      <div class="field">
                        <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                          (onSelect)="onFileSelect($event)" chooseLabel="Choose DEM"></p-fileUpload>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="slopeType">Slope Type</label>
                        <p-select id="slopeType" [options]="slopeOptions" formControlName="slopeType"
                          placeholder="Select Slope Type" class="w-full">
                        </p-select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="zFactor">Z-Factor</label>
                        <p-select id="zFactor" [options]="zFactorOptions" formControlName="zFactor"
                          placeholder="Select Z-Factor" class="w-full">
                        </p-select>
                      </div>
                    </div>

                    <div class="col-12">
                      <p-button label="Submit" type="submit" [disabled]="slopeForm.invalid"></p-button>
                    </div>
                  </div>
                  <div class="slope-legend mt-3 p-2 border-round">
                    <div class="legend-title">Slope Legend</div>
                    <div class="legend-items">
                      <div class="legend-item" *ngFor="let item of slopeLegend">
                        <div class="legend-color" [style.background]="item.color"></div>
                        <span class="legend-label">{{ item.label }}</span>
                      </div>
                    </div>
                  </div>

                </form>

              </p-tabpanel>
              <p-tabpanel value="3">
                <form [formGroup]="aspectForm" (ngSubmit)="onAspectSubmit()" class="w-full">
                  <div class="grid w-full">
                    <div class="col-12">
                      <div class="field">
                        <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                          (onSelect)="onFileSelect($event)" chooseLabel="Choose DEM"></p-fileUpload>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="outputformat">Output Format</label>
                        <p-select id="outputformat" [options]="aspectOptions" formControlName="outputformat"
                          placeholder="Select Output Format" class="w-full">
                        </p-select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="FlatAreasHandling">Flat Areas Handling</label>
                        <p-select id="FlatAreasHandling" [options]="flatAreaHandlingOptions"
                          formControlName="FlatAreasHandling" placeholder="Select Flat Areas Handling" class="w-full">
                        </p-select>
                      </div>
                    </div>

                    <div class="col-12">
                      <p-button label="Submit" type="submit" [disabled]="slopeForm.invalid"></p-button>
                    </div>
                  </div>
                </form>
              </p-tabpanel>
              <p-tabpanel value="4">
                <form [formGroup]="hillshadeForm" (ngSubmit)="onHillshadeSubmit()" class="w-full">
                  <div class="grid w-full">

                    <!-- DEM File Upload -->
                    <div class="col-12">
                      <div class="field">
                        <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                          (onSelect)="onFileSelect($event)" chooseLabel="Choose DEM">
                        </p-fileUpload>
                      </div>
                    </div>

                    <!-- Z-Factor -->
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="zFactor">Z-Factor (vertical exaggeration)</label>
                        <input pInputText type="number" id="zFactor" formControlName="z_factor" value="1.0" min="0.1"
                          step="0.1" required>
                      </div>
                    </div>

                    <!-- Azimuth -->
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="azimuth">Azimuth (degrees, 0-360)</label>
                        <input pInputText type="number" id="azimuth" formControlName="azimuth" value="315.0" min="0"
                          max="360" required>
                      </div>
                    </div>

                    <!-- Altitude -->
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="altitude">Altitude (degrees, 0-90)</label>
                        <input pInputText type="number" id="altitude" formControlName="altitude" value="45.0" min="0"
                          max="90" required>
                      </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="col-12">
                      <p-button label="Submit" type="submit" [disabled]="hillshadeForm.invalid"></p-button>
                    </div>

                  </div>
                </form>
              </p-tabpanel>
              <p-tabpanel value="5">
                <form [formGroup]="roughnessForm" (ngSubmit)="onRoughnessSubmit()" class="w-full">
                  <div class="grid w-full">
                    <div class="col-12">
                      <div class="field">
                        <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                          (onSelect)="onFileSelect($event)" chooseLabel="Choose DEM"></p-fileUpload>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="scale">scale</label>
                        <p-select id="scale" [options]="scaleOptions" formControlName="scale" placeholder="Select scale"
                          class="w-full">
                        </p-select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="zFactor">Z-Factor</label>
                        <p-select id="zFactor" [options]="zFactorOptions" formControlName="zFactor"
                          placeholder="Select Z-Factor" class="w-full">
                        </p-select>
                      </div>
                    </div>

                    <div class="col-12">
                      <p-button label="Submit" type="submit" [disabled]="roughnessForm.invalid"></p-button>
                    </div>
                  </div>
                </form>
              </p-tabpanel>
              <p-tabpanel value="6">
                <form [formGroup]="tpiForm" (ngSubmit)="onTpiSubmit()" class="w-full">
                  <div class="grid w-full">
                    <div class="col-12">
                      <div class="field">
                        <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                          (onSelect)="onFileSelect($event)" chooseLabel="Choose DEM"></p-fileUpload>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="scale">scale</label>
                        <p-select id="scale" [options]="scaleOptions" formControlName="scale" placeholder="Select scale"
                          class="w-full">
                        </p-select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="zFactor">Z-Factor</label>
                        <p-select id="zFactor" [options]="zFactorOptions" formControlName="zFactor"
                          placeholder="Select Z-Factor" class="w-full">
                        </p-select>
                      </div>
                    </div>

                    <div class="col-12">
                      <p-button label="Submit" type="submit" [disabled]="tpiForm.invalid"></p-button>
                    </div>
                  </div>
                </form>
              </p-tabpanel>
              <p-tabpanel value="7">
                <form [formGroup]="contoursForm" (ngSubmit)="onContoursSubmit()" class="w-full">
                  <div class="grid w-full">
                    <div class="col-12">
                      <div class="field">
                        <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                          (onSelect)="onFileSelect($event)" chooseLabel="Choose DEM"></p-fileUpload>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="Interval">Interval</label>
                        <input pInputText id="Interval" type="number" formControlName="Interval"
                          placeholder="Enter Interval" class="w-full">
                      </div>
                    </div>

                    <div class="col-12">
                      <p-button label="Submit" type="submit" [disabled]="contoursForm.invalid"></p-button>
                    </div>
                  </div>
                </form>
              </p-tabpanel>
              <p-tabpanel value="8">
                <form [formGroup]="elevationProfileForm" (ngSubmit)="onElevationProfileSubmit()" class="w-full">
                  <div class="grid w-full">

                    <!-- DEM Upload -->
                    <div class="col-12">
                      <div class="field">
                        <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                          (onSelect)="onElevationFileSelect($event)" chooseLabel="Choose DEM">
                        </p-fileUpload>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="field">
                        <label for="Latitude1">Latitude 1</label>
                        <input pInputText id="Latitude1" type="number" formControlName="Latitude1"
                          placeholder="Enter start latitude">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="field">
                        <label for="Longitude1">Longitude 1</label>
                        <input pInputText id="Longitude1" type="number" formControlName="Longitude1"
                          placeholder="Enter start longitude">
                      </div>
                    </div>
                    <div class="col-12 mb-2">
                      <button pButton type="button" label="Set Start Point"
                        (click)="activatePointSelection('start')"></button>
                    </div>

                    <div class="col-6">
                      <div class="field">
                        <label for="Latitude2">Latitude 2</label>
                        <input pInputText id="Latitude2" type="number" formControlName="Latitude2"
                          placeholder="Enter end latitude">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="field">
                        <label for="Longitude2">Longitude 2</label>
                        <input pInputText id="Longitude2" type="number" formControlName="Longitude2"
                          placeholder="Enter end longitude">
                      </div>
                    </div>
                    <div class="col-12 mb-2">
                      <button pButton type="button" label="Set End Point"
                        (click)="activatePointSelection('end')"></button>
                    </div>


                    <!-- Samples -->
                    <div class="col-12">
                      <div class="field">
                        <label for="Samples">Samples</label>
                        <input pInputText id="Samples" type="number" formControlName="samples" class="w-full"
                          placeholder="Number of samples" value="50">
                      </div>
                    </div>

                    <!-- Submit -->
                    <div class="col-12">
                      <p-button label="Submit" type="submit" [disabled]="elevationProfileForm.invalid"></p-button>
                    </div>

                  </div>
                </form>
                <canvas #elevationChart style="width: 100%; height: 400px;"></canvas>


              </p-tabpanel>
              <p-tabpanel value="9">
                <form [formGroup]="elevationPointForm" (ngSubmit)="onElevationPointSubmit()" class="w-full">
                  <div class="grid w-full">

                    <!-- DEM Upload -->
                    <div class="col-12">
                      <div class="field">
                        <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                          (onSelect)="onFileSelect($event)" chooseLabel="Choose DEM">
                        </p-fileUpload>
                      </div>
                    </div>

                    <!-- Latitude -->
                    <div class="col-6">
                      <div class="field">
                        <label for="Latitude">Latitude</label>
                        <input pInputText id="Latitude" type="number" formControlName="latitude" class="w-full"
                          placeholder="Enter Latitude">
                      </div>
                    </div>

                    <!-- Longitude -->
                    <div class="col-6">
                      <div class="field">
                        <label for="Longitude">Longitude</label>
                        <input pInputText id="Longitude" type="number" formControlName="longitude" class="w-full"
                          placeholder="Enter Longitude">
                      </div>
                    </div>

                    <!-- Submit -->
                    <div class="col-12">
                      <p-button label="Submit" type="submit" [disabled]="elevationPointForm.invalid"></p-button>
                    </div>

                  </div>
                </form>
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
        </div>
        <div class="p-fluid">
          <!-- <div class="field mt-3">
            <label for="analysisType">Select Analysis Type</label>
            <p-select [options]="demAnalysisTypes" [(ngModel)]="selectedDemAnalysis" placeholder="Select Analysis Type"
              optionLabel="label" class="w-full"></p-select>
          </div>
          <div class="field mt-3">
            <button pButton label="Run Analysis" class="p-button-success" (click)="runDemAnalysis()"
              [disabled]="!selectedDemAnalysis || !demFile"></button>
          </div> -->
        </div>
      </p-tabpanel>
      <!-- SATELLITE TAB -->
      <p-tabpanel value="1">
        <p-tabs value="0">
          <p-tablist>
            <p-tab value="0">NDVI</p-tab>
            <p-tab value="1">NDBI</p-tab>
            <p-tab value="2">NDWI</p-tab>
            <p-tab value='3'>LST</p-tab>
            <p-tab value='4'>LULC</p-tab>

          </p-tablist>
          <p-tabpanels>
            <p-tabpanel value="0">
              <div class="p-mb-3">
                <p-button label="Draw Area" icon="pi pi-map" (onClick)="startDraw()"
                  styleClass="p-button-outlined"></p-button>
              </div>

              <!-- Upload Shapefile Boundary -->
              <div class="col-12">
                <div class="field">
                  <label for="shapefile" class="block mb-2 font-semibold">Upload Shapefile (.zip)</label>

                  <div class="flex items-center gap-2">
                    <!-- Styled file input wrapper -->
                    <div class="p-inputgroup w-full">
                      <input type="file" id="shapefile" accept=".zip" (change)="onShapefileUpload($event)"
                        class="w-full border rounded p-2" />
                    </div>

                    <!-- Clear button styled same as PrimeNG -->
                    <p-button *ngIf="shapefileZip" icon="pi pi-times" styleClass="p-button-danger p-button-rounded"
                      (onClick)="clearShapefile()"></p-button>
                  </div>

                  <!-- Show file name -->
                  <small *ngIf="shapefileZip" class="text-green-600 block mt-1">
                    Selected: {{ shapefileZip.name }}
                  </small>
                </div>
              </div>


              <!-- Date selectors -->
              <div class="p-grid p-align-center p-mb-3">
                <div class="p-col-6">
                  <label for="ndviStart" class="block mb-2 font-semibold">Start Date:</label>
                  <p-datepicker [(ngModel)]="ndviStartDate" inputId="ndviStart" dateFormat="yy-mm-dd"></p-datepicker>
                </div>
                <div class="p-col-6">
                  <label for="ndviEnd" class="block mb-2 font-semibold">End Date:</label>
                  <p-datepicker [(ngModel)]="ndviEndDate" inputId="ndviEnd" dateFormat="yy-mm-dd"></p-datepicker>
                </div>
              </div>

              <p-button label="Submit" icon="pi pi-check" styleClass="p-button-success"
                (onClick)="submitData('ndvi')"></p-button>
            </p-tabpanel>
            <p-tabpanel value="1">
              <div class="p-mb-3">
                <p-button label="Draw Area" icon="pi pi-map" (onClick)="startDraw()"></p-button>
              </div>

              <!-- Upload Shapefile Boundary -->
              <div class="col-12">
                <div class="field">
                  <label for="shapefile" class="block mb-2 font-semibold">Upload Shapefile (.zip)</label>

                  <div class="flex items-center gap-2">
                    <!-- Styled file input wrapper -->
                    <div class="p-inputgroup w-full">
                      <input type="file" id="shapefile" accept=".zip" (change)="onShapefileUpload($event)"
                        class="w-full border rounded p-2" />
                    </div>

                    <!-- Clear button styled same as PrimeNG -->
                    <p-button *ngIf="shapefileZip" icon="pi pi-times" styleClass="p-button-danger p-button-rounded"
                      (onClick)="clearShapefile()"></p-button>
                  </div>

                  <!-- Show file name -->
                  <small *ngIf="shapefileZip" class="text-green-600 block mt-1">
                    Selected: {{ shapefileZip.name }}
                  </small>
                </div>
              </div>

              <div class="p-grid p-align-center p-mb-3">
                <div class="p-col-6">
                  <label for="ndbiStart">Start Date:</label>
                  <p-datepicker [(ngModel)]="ndbiStartDate" />
                </div>
                <div class="p-col-6">
                  <label for="ndbiEnd">End Date:</label>
                  <p-datepicker [(ngModel)]="ndbiEndDate" />
                </div>
              </div>
              <p-button label="Submit" icon="pi pi-check" (onClick)="submitData('ndbi')"></p-button>
            </p-tabpanel>
            <p-tabpanel value="2">
              <div class="p-mb-3">
                <p-button label="Draw Area" icon="pi pi-map" (onClick)="startDraw()"></p-button>
              </div>


              <!-- Upload Shapefile Boundary -->
              <div class="col-12">
                <div class="field">
                  <label for="shapefile" class="block mb-2 font-semibold">Upload Shapefile (.zip)</label>

                  <div class="flex items-center gap-2">
                    <!-- Styled file input wrapper -->
                    <div class="p-inputgroup w-full">
                      <input type="file" id="shapefile" accept=".zip" (change)="onShapefileUpload($event)"
                        class="w-full border rounded p-2" />
                    </div>

                    <!-- Clear button styled same as PrimeNG -->
                    <p-button *ngIf="shapefileZip" icon="pi pi-times" styleClass="p-button-danger p-button-rounded"
                      (onClick)="clearShapefile()"></p-button>
                  </div>

                  <!-- Show file name -->
                  <small *ngIf="shapefileZip" class="text-green-600 block mt-1">
                    Selected: {{ shapefileZip.name }}
                  </small>
                </div>
              </div>

              <div class="p-grid p-align-center p-mb-3">
                <div class="p-col-6">
                  <label for="ndwiStart">Start Date:</label>
                  <p-datepicker [(ngModel)]="ndwiStartDate" />
                </div>
                <div class="p-col-6">
                  <label for="ndwiEnd">End Date:</label>
                  <p-datepicker [(ngModel)]="ndwiEndDate" />
                </div>
              </div>
              <p-button label="Submit" icon="pi pi-check" (onClick)="submitData('ndwi')"></p-button>
            </p-tabpanel>
            <p-tabpanel value="3">
              <div class="p-mb-3">
                <p-button label="Draw Area" icon="pi pi-map" (onClick)="startDraw()"></p-button>
              </div>
              <div class="p-grid p-align-center p-mb-3">
                <div class="p-col-6">
                  <label for="lstStart">Start Date:</label>
                  <p-datepicker [(ngModel)]="lstStartDate" />
                </div>
                <div class="p-col-6">
                  <label for="lstEnd">End Date:</label>
                  <p-datepicker [(ngModel)]="lstEndDate" />
                </div>
              </div>
              <p-button label="Submit" icon="pi pi-check" (onClick)="submitLST()"></p-button>
              <div class="p-mt-3">
                <h4>LST Legend (°C)</h4>
                <div class="legend">
                  <div class="legend-item" *ngFor="let item of lstLegend">
                    <span class="legend-color" [ngStyle]="{'background-color': item.color}"></span>
                    <span>{{item.label}}</span>
                  </div>
                </div>
              </div>

            </p-tabpanel>
            <p-tabpanel value="4">
              <div class="p-mb-3">
                <p-button label="Draw Area" icon="pi pi-map" (onClick)="startDraw()"></p-button>
              </div>
              <div class="p-mt-3">
                <h4>LST Legend (°C)</h4>
                <div class="legend">
                  <div class="legend-item" *ngFor="let item of lulcLegend">
                    <span class="legend-color" [ngStyle]="{'background-color': item.color}"></span>
                    <span>{{item.label}}</span>
                  </div>
                </div>
              </div>
              <p-button label="Submit" icon="pi pi-check" (onClick)="submitLULC()"></p-button>
            </p-tabpanel>
          </p-tabpanels>
        </p-tabs>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>