<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">DEM</p-tab>
      <p-tab value="1">Satellite</p-tab>
    </p-tablist>
    <p-tabpanels>
      <!-- DEM TAB -->
      <p-tabpanel value="0">
        <div class="card">
          <p-tabs value="0">
            <p-tablist>
              <p-tab value="0">Download</p-tab>
              <p-tab value="1">Upload</p-tab>
              <p-tab value="2">Slope</p-tab>
              <p-tab value="3">Aspect</p-tab>
              <p-tab value="4">Hillshade</p-tab>
              <p-tab value="5">Roughness</p-tab>
              <p-tab value="6">TPI</p-tab>
              <p-tab value="7">Elevation Profile</p-tab>
              <p-tab value="8">Elevation At Point</p-tab>
            </p-tablist>
            <p-tabpanels>
              <p-tabpanel value="0">
                <div class="grid">

                  <!-- Draw Area Button -->
                  <div class="col-12">
                    <button pButton label="Draw Area" class="p-button-warning w-full" (click)="startDraw()"></button>
                  </div>

                  <div class="col-12">
                    <div class="field">
                      <label for="_Extent">Extent</label>
                      <input pInputText id="Extent" type="text"
                        placeholder="33.88968193520822,77.99334738638072,34.174201765452835,78.57836935903697"
                        [(ngModel)]="_extent" (change)="drawRectangleFromDirectExtent()" class="w-full">
                    </div>
                  </div>


                  <!-- Extent Inputs -->
                  <!-- West -->
                  <div class="col-3">
                    <div class="field">
                      <label for="west">West</label>
                      <input pInputText id="west" type="number" [(ngModel)]="extent.west"
                        (change)="drawRectangleFromExtent()" class="w-full">
                    </div>
                  </div>

                  <!-- East -->
                  <div class="col-3">
                    <div class="field">
                      <label for="east">East</label>
                      <input pInputText id="east" type="number" [(ngModel)]="extent.east"
                        (change)="drawRectangleFromExtent()" class="w-full">
                    </div>
                  </div>

                  <!-- South -->
                  <div class="col-3">
                    <div class="field">
                      <label for="south">South</label>
                      <input pInputText id="south" type="number" [(ngModel)]="extent.south"
                        (change)="drawRectangleFromExtent()" class="w-full">
                    </div>
                  </div>

                  <!-- North -->
                  <div class="col-3">
                    <div class="field">
                      <label for="north">North</label>
                      <input pInputText id="north" type="number" [(ngModel)]="extent.north"
                        (change)="drawRectangleFromExtent()" class="w-full">
                    </div>
                  </div>


                  <!-- Select Analysis Type -->
                  <div class="col-12">
                    <div class="field">
                      <label for="analysisType">Select Analysis Type</label>
                      <p-select [options]="demTypes" [(ngModel)]="selectedDemType" optionLabel="label"
                        optionValue="value" class="w-full">
                      </p-select>
                    </div>
                  </div>

                  <!-- Download Button -->
                  <div class="col-12">
                    <button pButton label="Download DEM Tile" class="p-button-info w-full"
                      (click)="downloadOpenTopographyDem()"></button>
                  </div>

                </div>

              </p-tabpanel>
              <p-tabpanel value="1">
                <div class="grid">

                  <div class="col-12">
                    <div class="field">
                      <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                        (onSelect)="onDemFileUpload($event)" chooseLabel="Choose DEM"></p-fileUpload>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="field">
                      <label for="colorRamp">Select Color Ramp</label>
                      <p-select [options]="colorRamps" [(ngModel)]="selectedColorRamp" placeholder="Select Color Ramp"
                        class="w-full">
                      </p-select>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="field">
                      <button pButton label="Apply Color Ramp" class="p-button-info w-full"
                        (click)="reRenderDEM()"></button>
                    </div>
                  </div>

                </div>
              </p-tabpanel>
              <p-tabpanel value="2">
                <form [formGroup]="slopeForm" (ngSubmit)="onSlopeSubmit()" class="w-full">
                  <div class="grid w-full">
                    <div class="col-12">
                      <div class="field">
                        <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                          (onSelect)="onFileSelect($event)" chooseLabel="Choose DEM"></p-fileUpload>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="slopeType">Slope Type</label>
                        <p-select id="slopeType" [options]="slopeOptions" formControlName="slopeType"
                          placeholder="Select Slope Type" class="w-full">
                        </p-select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="zFactor">Z-Factor</label>
                        <p-select id="zFactor" [options]="zFactorOptions" formControlName="zFactor"
                          placeholder="Select Z-Factor" class="w-full">
                        </p-select>
                      </div>
                    </div>

                    <div class="col-12">
                      <p-button label="Submit" type="submit" [disabled]="slopeForm.invalid"></p-button>
                    </div>
                  </div>
                  <div class="slope-legend mt-3 p-2 border-round">
                    <div class="legend-title">Slope Legend</div>
                    <div class="legend-items">
                      <div class="legend-item" *ngFor="let item of slopeLegend">
                        <div class="legend-color" [style.background]="item.color"></div>
                        <span class="legend-label">{{ item.label }}</span>
                      </div>
                    </div>
                  </div>

                </form>

              </p-tabpanel>
              <p-tabpanel value="3">
                <form [formGroup]="aspectForm" (ngSubmit)="onAspectSubmit()" class="w-full">
                  <div class="grid w-full">
                    <div class="col-12">
                      <div class="field">
                        <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                          (onSelect)="onFileSelect($event)" chooseLabel="Choose DEM"></p-fileUpload>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="outputformat">Output Format</label>
                        <p-select id="outputformat" [options]="aspectOptions" formControlName="outputformat"
                          placeholder="Select Output Format" class="w-full">
                        </p-select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="FlatAreasHandling">Flat Areas Handling</label>
                        <p-select id="FlatAreasHandling" [options]="flatAreaHandlingOptions"
                          formControlName="FlatAreasHandling" placeholder="Select Flat Areas Handling" class="w-full">
                        </p-select>
                      </div>
                    </div>

                    <div class="col-12">
                      <p-button label="Submit" type="submit" [disabled]="slopeForm.invalid"></p-button>
                    </div>
                  </div>
                </form>
              </p-tabpanel>
              <p-tabpanel value="4">
                <form [formGroup]="hillshadeForm" (ngSubmit)="onHillshadeSubmit()" class="w-full">
                  <div class="grid w-full">

                    <!-- DEM File Upload -->
                    <div class="col-12">
                      <div class="field">
                        <p-fileUpload mode="basic" name="dem" accept=".tif,.tiff" customUpload="true"
                          (onSelect)="onFileSelect($event)" chooseLabel="Choose DEM">
                        </p-fileUpload>
                      </div>
                    </div>

                    <!-- Z-Factor -->
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="zFactor">Z-Factor (vertical exaggeration)</label>
                        <input pInputText type="number" id="zFactor" formControlName="z_factor" value="1.0" min="0.1"
                          step="0.1" required>
                      </div>
                    </div>

                    <!-- Azimuth -->
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="azimuth">Azimuth (degrees, 0-360)</label>
                        <input pInputText type="number" id="azimuth" formControlName="azimuth" value="315.0" min="0"
                          max="360" required>
                      </div>
                    </div>

                    <!-- Altitude -->
                    <div class="col-12">
                      <div class="p-field w-full">
                        <label for="altitude">Altitude (degrees, 0-90)</label>
                        <input pInputText type="number" id="altitude" formControlName="altitude" value="45.0" min="0"
                          max="90" required>
                      </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="col-12">
                      <p-button label="Submit" type="submit" [disabled]="hillshadeForm.invalid"></p-button>
                    </div>

                  </div>
                </form>
              </p-tabpanel>

              <p-tabpanel value="5">
                <div class="grid">
                  <p> Roughness</p>
                </div>
              </p-tabpanel>
              <p-tabpanel value="6">
                <div class="grid">
                  <p> TPI</p>
                </div>
              </p-tabpanel>
              <p-tabpanel value="7">
                <div class="grid">
                  <p> Elevation Profile</p>
                </div>
              </p-tabpanel>
              <p-tabpanel value="8">
                <div class="grid">
                  <p> Elevation At Point</p>
                </div>
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
        </div>
        <div class="p-fluid">
          <!-- <div class="field mt-3">
            <label for="analysisType">Select Analysis Type</label>
            <p-select [options]="demAnalysisTypes" [(ngModel)]="selectedDemAnalysis" placeholder="Select Analysis Type"
              optionLabel="label" class="w-full"></p-select>
          </div>
          <div class="field mt-3">
            <button pButton label="Run Analysis" class="p-button-success" (click)="runDemAnalysis()"
              [disabled]="!selectedDemAnalysis || !demFile"></button>
          </div> -->
        </div>
      </p-tabpanel>
      <!-- SATELLITE TAB -->
      <p-tabpanel value="1">
        <p class="m-0">Satellite</p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>