<fieldset class="p-fieldset mb-3">
    <legend>Select Default Project</legend>
    <div class="grid mx-0">
        <div class="col-12">
            <div class="field">
                <label for="project_select">Project Name</label>
                <p-select [options]="ProjectNameList" optionLabel="label" optionValue="value"
                    [(ngModel)]="selectedProject" (onChange)="onProjectSelectChange()" placeholder="Select Project Name"
                    class="w-full md:w-56 surface-border" />
            </div>
        </div>
    </div>
</fieldset>
