<p-tabs [(value)]="value" (valueChange)="onTabChange($event)">
  <p-tablist>
    <p-tab *ngFor="let tab of tabs" [value]="tab.value">
      {{ tab.label }}
    </p-tab>
  </p-tablist>
  <p-tabpanels>
    <ng-container *ngFor="let tab of tabs">
      <p-tabpanel *ngIf="tab.label !== 'Operational'" [value]="tab.value">
        <p-accordion [multiple]="true">
          <p-accordion-panel *ngFor="let item of tab.items" [value]="item.id">
            <p-accordion-header>
              <p-radioButton *ngIf="tab.label === 'Basemap'" name="basemapGroup" [value]="item.name"
                [(ngModel)]="selectedBasemap" (ngModelChange)="onBasemapChange($event)"
                (click)="$event.stopPropagation()" [inputId]="item.id">
              </p-radioButton>
              <label [for]="item.id" class="ml-2">{{ item.name }}</label>
              <button *ngIf="tab.label === 'Temporal'" pButton pRipple icon="pi pi-search"
                class="p-button-rounded p-button-text p-button-sm ml-2"
                (click)="zoomToLayer(item.name, tab.label, $event)" pTooltip="Zoom to layer" tooltipPosition="top">
              </button>
            </p-accordion-header>
            <p-accordion-content>
              <p class="m-0">ID: {{ item.id }}</p>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </p-tabpanel>
    </ng-container>
    <p-tabpanel *ngIf="value === 1" [value]="1">
      <p-accordion [multiple]="true">
        <p-accordion-panel *ngFor="let ds of datastorelist" [value]="ds.name">
          <p-accordion-header>{{ ds.name }}</p-accordion-header>
          <p-accordion-content>
            <div *ngFor="let table of ds.tables" class="flex align-items-center gap-2 ml-3 my-2">
              <p-checkbox [binary]="true" [(ngModel)]="checkedTables[ds.name + '.' + table.name].checked"
                (onChange)="onItemClick($event,table.name, ds.name)" [inputId]="ds.name + '_' + table.name">
              </p-checkbox>
              <label [for]="ds.name + '_' + table.name">{{ table.name }}</label>
              <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-text p-button-sm ml-2"
                (click)="zoomToLayer(table.name, ds.name, $event)" pTooltip="Zoom to layer" tooltipPosition="top">
              </button>
            </div>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </p-tabpanel>
    <p-tabpanel *ngIf="value === 2" [value]="2">
      <input type="file" (change)="onFileUpload($event)" accept=".geojson,.json,.kml,.gml" class="my-2" />
      <p-accordion [multiple]="true" *ngIf="uploadedLayers.length">
        <p-accordion-panel *ngFor="let layer of uploadedLayers" [value]="layer.id">
          <p-accordion-header>
            <p-checkbox [binary]="true" [(ngModel)]="layer.visible" (onChange)="toggleUploadedLayer(layer)"
              [inputId]="layer.id">
            </p-checkbox>
            <label [for]="layer.id" class="ml-2">{{ layer.name }}</label>
          </p-accordion-header>
          <p-accordion-content>
            <button pButton pRipple type="button" label="Remove" icon="pi pi-trash" class="p-button-sm p-button-danger"
              (click)="removeUploadedLayer(layer)"></button>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </p-tabpanel>
    <p-tabpanel *ngIf="value === 3" [value]="3">
      <div class="grid">
        <div class="col-12">
          <div class="field">
            <label for="geoserverurl">Geoserver URL</label>
            <input type="text" [(ngModel)]="newGeoserverUrl" placeholder="e.g. https://vedas.sac.gov.in/geoserver"
              class="p-inputtext p-component p-mr-2 w-full" />
          </div>
          <div class="field">
            <label for="geoserverurl">Geoserver Workspace</label>
            <input type="text" [(ngModel)]="newWorkspace" placeholder="Workspace (e.g. vedas, vedas_gis)"
              class="p-inputtext p-component p-mr-2 w-full" />
          </div>
          <div class="field">
            <label for="geoserverurl">Geoserver LayerName</label>
            <input type="text" [(ngModel)]="newLayerName" placeholder="Layer Name (e.g. india_state_boundary_07032025)"
              class="p-inputtext p-component p-mr-2 w-full" />
          </div>
          <div class="field">
            <label for="geoserverurl">Layer Style</label>
            <input type="text" [(ngModel)]="newStyle"
              placeholder="Style (optional, e.g. india_state_boundary_07032025_grey)"
              class="p-inputtext p-component p-mr-2 w-full" />
          </div>
        </div>
      </div>
      <div class="add-wms-layer-form p-mb-3">
        <button pButton type="button" label="Add WMS Layer" (click)="addWmsLayer()" class="p-button-success"></button>
      </div>
      <p-accordion [multiple]="true">
        <p-accordion-panel *ngFor="let layer of wmsLayerList" [value]="layer.name">
          <p-accordion-header>
            <p-checkbox [binary]="true" [(ngModel)]="layer.checked" (onChange)="toggleWmsLayer(layer, $event)"
              [inputId]="layer.name"></p-checkbox>
            <label [for]="layer.name" class="ml-2">{{ layer.title || layer.name }}</label>
          </p-accordion-header>
        </p-accordion-panel>
      </p-accordion>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
