/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";
@use "primeflex/primeflex.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Prevent scrollbars */
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}